name: Tests

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "5 1 * * *" # every day at 01:05
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-13]
        pyv: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        include:
          - {os: ubuntu-latest, pyv: "pypy3.8"}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.pyv }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyv }}

      - name: Upgrade pip and nox
        run: |
          python -m pip install --upgrade pip nox
          pip --version
          nox --version

      - name: Lint code and check dependencies
        run: nox -s lint safety

      # https://github.com/abiosoft/colima/issues/468
      - name: Use colima as default docker host on MacOS
        if: matrix.os == 'macos-13'
        run: |
          brew install docker colima 
          colima start

      - name: Run tests
        id: tests
        run: nox -s tests-${{ matrix.pyv }}
        continue-on-error: ${{ matrix.os == 'macos-13' }}
        env:
          COVERAGE_XML: true

      - name: Upload coverage report
        if: steps.tests.outcome  == 'success'
        uses: codecov/codecov-action@v4.1.0

      - name: Build package
        run: nox -s build
